//Imports

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

//Variables 
$basic-boxshadow: 10px 10px 13px -8px rgba(0,0,0,0.27);
$neutral-bg: rgb(242,242,242);
$base-purple: #695ef5;


@mixin neutral-bg-theme {
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 0.5em;
    background: $neutral-bg;
}

@mixin purple-box {
    background: $base-purple;
    border-radius: 1em;
    border: 2px solid black;
    color: white;
}

@mixin flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
}

@mixin searchbar {
    padding: 0.7rem;
    width: 25ch;
    border-radius: 3px;
    border: 2px solid black;
    background-color: #faf9f5;
}

@mixin section-title {
    font-size: 1em;
    margin-bottom: 1em;
    letter-spacing: 1px;
    color: rgba(0,0,0,0.85);
    font-weight: bold;
}


@mixin purple-underline {
    content: '';
    display: block;
    width: 50%;
    padding-top: 4px;
    border-bottom: 2px solid $base-purple;
}

@mixin error-page {
    h1, h2 {
        font-family: 'Archivo Black', sans-serif;
    }

    h1 {
        font-size: 10rem;
        text-shadow: #8e53bd 1px 0px 10px;
    }
    h2 {
        font-size: 2rem;
        color: rgba(0, 0, 0, 0.85);
    }
    p {
        max-width: 50ch;
        text-align: center;
    }
}