@import 'Mixin.scss';

.platform-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block-start: 1em;
}

.pagination-cont {
    margin-block-start: 1em;
    padding: 1em;
}

.pagination-btn {
    padding: 0.7em;
    cursor: pointer;
    background: $base-purple;
    border-radius: 2px;
    border: none;
    margin-inline-end: 0.5em;
    margin-inline-start: 1em;
    vertical-align: middle;
}

.page-number {
    padding: 0.7em;
    background: none;
    border: none;
    margin-inline-start: 0.5em;
    cursor: pointer;
    transition: 0.2s ease;
    &:hover {
        border-radius: 2px;
        background-color: $base-purple;
    }
}

.page-number.active {
    background-color: $base-purple;
    border-radius: 2px;
}

.dots {
    display: inline-block;
    margin-inline-start: 0.5em;
}