
$basic-boxshadow: 0px 10px 8px -10px rgba(0,0,0,0.27);
$neutral-bg: rgb(242,242,242);


// Mixin themes
@mixin neutral-bg-theme {
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 0.5em;
    background: $neutral-bg;
}

main {
    overflow: hidden;
}
.profile-picture {
    max-width: 20%;
}

.profile-picture, .user-name {
    display: inline-block;
}

.user-name {
    color: white;
    font-size: 2rem;
}

.user-asset {
    width: fit-content;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.user-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid white;
    box-shadow: $basic-boxshadow;
    div {
        cursor: pointer;
        &:hover {
            color: purple;
        }
    }
}



// Overview sect 
.overview-sect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    gap: 1em;
    section {
        h2 {
            font-size: 1em;
            margin-bottom: 5px;
            font-weight: normal;
        }
        section {
          @include neutral-bg-theme();  
        }
        
    }

    // 
    .backlog-overview {
        .game-status-list {
            text-align: center;
            li {
                display: inline-block;
                margin-right: 1em;
            }
        }
    
        .active {
            display: block;
        }

        .not-active {
            display: none;
        }
    }
}


.game-sect {
    padding: 1em;
    display:flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    // 
    .filter-list {
        display: flex;
        flex-direction: column;
        @include neutral-bg-theme();
    }

    // 
    .game-display-sect {
        @include neutral-bg-theme();
        .game-display-table {
            th, td {
                padding: 1.5rem 0rem 1rem 1.5rem;
            }
            border-collapse: separate;
            
            // 
            .table-header-row {
                border: 1px solid red;
                text-align: left;

            }

            // 
            .indv-game-row {
                border: 1px dashed plum;
                .name-col {
                    width: 50ch;
                }
                .img-col {
                    img{border-radius: 2px;}
                }

                .action-col {
                    button {
                        background: none; 
                        border: none;
                    }
                }

                .start-col, .end-col {
                    text-align: center;
                }
            }
        }
    }
}

