// Imports
@import 'Mixin.scss';

// Variables 
$basic-boxshadow: 0px 10px 8px -10px rgba(0,0,0,0.27);
$neutral-bg: rgb(242,242,242);


// Mixin themes


* {
    padding: 0;
    margin: 0;
}


main {
    overflow: hidden;
}
.profile-picture {
    max-width: 20%;
}

.profile-picture, .user-name {
    display: inline-block;
}

.user-name {
    color: white;
    font-size: 2rem;
}

.user-asset {
    width: fit-content;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.user-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid white;
    box-shadow: $basic-boxshadow;
    div {
        cursor: pointer;
        &:hover {
            color: purple;
        }
    }
}



// Overview sect 
.overview-sect {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1em;
    gap: 1em;
    section {
        h2 {
            @include section-title;
            display: inline-block;
            margin-right: 5px;
            &:after {
                @include purple-underline;
              width: 50%;  
            }
            
        }
        section {
          @include neutral-bg-theme();  
        }

        .picture-cont {
            img {
                height: auto;
            }
        }
        
    }

    // 
    .backlog-overview {
        .game-status-list {
            text-align: center;
            li {
                display: inline-block;
                margin-right: 1em;
            }
        }
    
        .active {
            display: block;
        }

        .not-active {
            display: none;
        }
    }
}


.game-sect {
    padding: 3em 1em 1em 1em;
    display:flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    // 
    .filter-list {
        display: flex;
        flex-direction: column;
        height: fit-content;
        section {
            @include neutral-bg-theme();
        }
        h2 {
            @include section-title;
            &:after {
                @include purple-underline;
                width: 20%;
            }
        }
        .search-bar {
            padding: 1em;
            border: none;
            border-radius: 0.2em;
            background: url(../img/search-thin.svg) no-repeat scroll 5px 10px, white;
            padding-left:25px;
            padding-top: 12px;
        }

        

    }

    // 
    .game-display-sect {
        @include neutral-bg-theme();
        .game-display-table {
            th, td {
                padding: 1.5rem 0.5rem 1rem 0.5rem;
            }
            border-collapse: separate;
            
            // 
            .table-header-row {
                text-align: left;

            }

            // 
            .indv-game-row {
                .name-col {
                    width: 50ch;
                }
                .img-col {
                    img{border-radius: 2px;}
                }

                .action-col {
                    button {
                        background: none; 
                        border: none;
                    }
                }

                .start-col, .end-col {
                    text-align: center;
                }
            }
        }
    }
}



// Favorite Main Sect 
.fav-sect {
    h1 {
        margin-left: 7rem;
        margin-top: 1em;
    }
   .favorite-main-sect {
    @include neutral-bg-theme;
    display: flex;
    margin: 1em 7rem 0em 7rem;
    gap: 1em;
    img {
        height: auto;
    }

} 
}
