//Imports 
@import 'Mixin.scss';


.header-cont {
    position: relative;
    width: 100%;
    overflow: hidden;

    .header-cont-2 {
        .game_thumbnail, h1 {
            display: inline-block;
        }
        .game_thumbnail {
            margin: 2em 2em 0em 2em;
            box-shadow: $basic-boxshadow;
            border-radius: 5px;
        }
        h1 {
            font-family: 'Archivo Black', sans-serif;
            vertical-align: bottom;
            font-size: clamp(2.5rem, 2.5vw, 3rem);
        }
        p {
            border: 1px solid red;
            width: 75%;
        }
    }
    
   
}

.info-body {
    display: flex;
    gap: 2.5em;
    padding: 1em;
    h2 {
        @include section-title;
        display: inline-block;
        &:after {
            content: '';
            display: block;
            width: 50%;
            padding-top: 4px;
            border-bottom: 2px solid $base-purple;
        }
    }
}
// Aside section
.left-section {
    display: flex;
    flex-direction: column;
    margin: 1em 0em 0em 1em;
    height: fit-content;
    min-width: 30ch;

    section {
        @include neutral-bg-theme()
    }

    .manage-games {
         .manage-game-settings {
            margin-block-end: 1rem;
            width: 100%;
            gap: 0.5rem;
            display: flex;
         }
       .log-btn {
        @include purple-box;
        color: black;
        border-radius: 5px;
        padding: 0.7em;
        display: block;
        width: 100%;
    } 

        .user-lists {
            
            position: relative;
            .add-to-list {
            cursor: pointer;
            @include purple-box;
            color: black;
            border-radius: 5px;
            padding: 0.5em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            }
            .list-holder {
                display: none;
                position: absolute;
                width: 26ch;
                box-shadow: $basic-boxshadow;
                margin-top: 5px;
                @include purple-box;
                color: black;
                border-radius: 5px;
                div {
                    cursor: pointer;
                    padding: 0.5em;
                    &:not(:last-child) {
                       border-bottom: 2px solid black; 
                    }

                    &::first-letter {
                        text-transform: capitalize;
                    }
                }

                .new-user-list {
                    color: white;
                    background: url('../img/sign-plus-bold.svg') no-repeat black scroll 3px 8px;
                    padding-left: 25px;
                }

            }
        }
    }
    
}


// Main section

.main-section {
    display: inline-block;
    padding: 0.1em;
    margin: 1em 1em 1em 0em;
    overflow: hidden;
    width: 100%;
    section {
        margin-bottom: 1.5em;
    }
    
    .desc {
        @include neutral-bg-theme();
        p {
            width: 100%;
            line-height: 1.5;
        }
    }
    .genre {
        li {
            display: inline-block;
            border: 2px solid black;
            margin-right: 5px;
            padding: 5px;
            border-radius: 7px;
        }
    }
.screenshots {
    @include neutral-bg-theme();
    position: relative;
    div {
        flex-shrink: 0;
    } 

    .modal-cont {
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .modal-img {
        transition: 0.5s;
        cursor:pointer;
        border-radius: 0.2em;  
        display: inline;
        margin: 1em 1em 1em 0em;
        &:hover {
            box-shadow: $basic-boxshadow;
            transform: translateY(-5px);
        } 
    }
    ::-webkit-scrollbar {
        height: 10px;             
        width: 10px;
        border-radius: 1em;             
      }
    ::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,1);
        border-radius: 10px;
    }    
          
}
}


.video-cont {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 2em;
    flex-wrap: nowrap;
    div {
        width: 555px;
        margin-bottom: 1em;
    }
    iframe {
        width: 100%;border-radius: 5px;
    }
}

@media screen and (max-width: 35rem) {
    .info-body {
        flex-wrap: wrap;
    }

    .header-cont {
        .header-cont-2 {
            h1 {
                margin-left: 3rem;
            }
        }   
    }

    .left-section {
        margin-left: 0;
        width: 100%;
    }

}