$basic-boxshadow: 10px 10px 13px -8px rgba(0,0,0,0.27);
$neutral-bg: rgb(242,242,242);

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@mixin neutral-bg-theme {
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 0.5em;
    background: $neutral-bg;
}

.header-cont {
    position: relative;
    width: 100%;
    overflow: hidden;

    .header-cont-2 {
        .game_thumbnail, h1 {
            display: inline-block;
        }
        .game_thumbnail {
            margin: 2em 2em 0em 2em;
            box-shadow: $basic-boxshadow;
            border-radius: 5px;
        }
        h1 {
            font-family: 'Archivo Black', sans-serif;
            vertical-align: bottom;
            font-size: 3rem;
        }
        p {
            border: 1px solid red;
            width: 75%;
        }
    }
    
   
}

.info-body {
    display: grid;
    grid-template-columns: 0.22fr 1fr;
}
// Aside section
.left-section {
    display: flex;
    flex-direction: column;
    margin: 1em 2.5em 0em 1.5em;
    height: fit-content;
    justify-content: center;
    .manage-games, .platforms, .developers {
        @include neutral-bg-theme()
    }
    button {
        display: block;
    }
}


// Main section

.main-section {
    display: inline-block;
    padding: 1em;
    // overflow: hidden;
    section {
        margin-bottom: 1.5em;
    }
    
    .desc {
        line-height: 1.5;
        @include neutral-bg-theme()
    }
    .genre {
        li {
            display: inline-block;
            border: 1px solid black;
            margin-right: 5px;
            padding: 5px;
            border-radius: 0.5em;
        }
    }
.screenshots {
    @include neutral-bg-theme();
    position: relative;
    div {
        flex-shrink: 0;
    } 

    .modal-cont {
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;
    }
    
    .modal-img {
            margin: 1em;
            transition: 0.5s;
            cursor:pointer;
            border-radius: 0.2em;  
            display: inline;
            
        }
        .modal-img:hover {
            box-shadow: $basic-boxshadow;
            transform: translateY(-5px);
        } 
       
}
}

