// Fonts
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import "./styles/Mixin.scss";

// Universal Settings
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body {
  font-family: "Asap", sans-serif;
  list-style-type: none;
}

html {
  position: relative;
  min-height: 100%;
  max-height: auto;
  padding-bottom: calc(15vw + 5%);
}

//
// Login.js
.user-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50ch;
  padding: 4rem 1rem 4rem 1rem;
  h1 {
    margin-bottom: 1em;
  }
  div {
    width: 45ch;
    label {
      display: block;
      @include section-title;
      margin-bottom: 1em;
      margin-top: 1em;
      &::after {
        @include purple-underline;
        width: 10%;
      }
    }

    input {
      padding: 1em;
      width: 45ch;
      border: 3px solid black;
      border-radius: 3px;
      &:focus:invalid {
        border: 3px solid red;
      }
    }

    small {
      display: block;
      margin-block-start: 0.5rem;
      font-size: 0.8rem;
    }
  }
  .submit-btn {
    @include searchbar;
    text-align: center;
    background-color: $base-purple;
    width: 45ch;
    margin-block-start: 2rem;
    &:hover {
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
      cursor: pointer;
    }
  }
  .sign-up-sect {
    border-bottom: 1px solid gray;
    width: 35ch;
    text-align: center;
    div {
      margin-bottom: 1em;
      font-size: 0.8rem;
    }
  }
  .demo-account {
    small {
      margin-top: 1em;
    }
    button {
      @include searchbar;
      width: 20ch;
      padding: 0.5em;
      margin: 0.7em;
      display: inline-block;
      background: black;
      color: white;
      transition: 0.2s ease-in;
      cursor: pointer;
      &:hover {
        transform: translate(-5px, -5px);
        box-shadow: 5px 5px 0 -3px white, 5px 5px $base-purple;
      }
    }
  }
}

//
// Picture.js
.picture-cont {
  @include flex-box();
}

.ind-pic-cont {
  position: relative;
  img {
    border-radius: 5px;
    box-shadow: $basic-boxshadow;
    vertical-align: bottom;
    height: 312px;
    max-width: 100%;
    object-fit: cover;
  }
  .img-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    top: 0;
    z-index: 1;
    opacity: 0;
    border-radius: 5px;
  }
  p,
  a {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    font-weight: 500;
    transition: 0.5s ease;
    text-overflow: ellipsis;
    text-decoration: none;
  }
  &:hover {
    p,
    .img-overlay,
    .del-game,
    a {
      opacity: 1;
    }
  }

  .del-game {
    opacity: 0;
    right: 0;
    margin: 5px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    background-color: red;
    border-radius: 3px;
    border: none;
    width: 25px;
    height: 25px;
    color: white;
    font-weight: bold;
  }
}

//
// Search.js
.search-cont {
  display: grid;
  grid-template-columns: repeat(5, auto);
  place-items: center;
  justify-content: center;
  column-gap: 0em;
  gap: 1em;
}

.search-result {
  h1 {
    text-align: center;
    margin-bottom: 1em;
  }
}

@media screen and (max-width: 30rem) {
  .search-cont {
    grid-template-columns: repeat(1, auto);
  }
}
@media screen and (min-width: 30rem) 
and (max-width: 40rem) {
  .search-cont {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (min-width: 40rem) 
and (max-width: 50rem) {
  .search-cont {
    grid-template-columns: repeat(3, auto);
  }
}

@media screen and (min-width: 50rem) 
and (max-width: 70rem) {
  .search-cont {
    grid-template-columns: repeat(4, auto);
  }
}
//
// GameLog.js
.modal-tab {
  padding: 1rem;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  border-radius: 5px;
  .mini-title {
    font-size: 1.5rem;
  }
  .fav-btn {
    padding: 0.5em 2em 0.5em 2em;
    background: #d83e4f;
    border-radius: 3px;
    border: 2px solid black;
    display: inline-block;
  }
  form {
    display: flex;
    gap: 2em;
    button {
      display: block;
      padding: 0.5em;
    }
    select {
      display: block;
      padding: 0.5em 2em 0.5em 5px;
      margin-bottom: 1em;
      border-radius: 3px;
      border: 2px solid black;
      width: 100%;
    }

    img {
      margin-top: 1em;
      border-radius: 0.5em;
      box-shadow: $basic-boxshadow;
    }
    div {
      margin-top: 1em;
    }
  }
  .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    cursor: pointer;
  }
  .two-btn {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .label-input {
    font-size: 0.9rem;
  }

  .date-picker {
    display: inline-block;
    margin-right: 0.5em;
  }

  .save-btn {
    @include purple-box;
    padding: 0.5rem;
    color: black;
    border-radius: 3px;
  }
}

//
// Warning.js
.empty-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  height: 100vh;
  background: url(img/mhk_21.jpg);

  @include error-page;
  button {
    @include searchbar;
    background-color: $base-purple;
    &:hover {
      box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}

.unauthorized {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  @include error-page;
}


.create-list-modal {
  z-index: 5;
  top: 10%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid red;
  h1 {
    @include section-title;

    &::after {
      @include purple-underline;
      width: 10%;
    }
  }
  label {
    font-size: 0.9rem;
    display: block;
    padding-bottom: 0.5em;
  }
  background-color: rgba(0, 0, 0, 0.5);
  .create-list-modal-main {
    margin-top: 20vh;
    background-color: white;
    padding: 2rem;
    height: 20ch;
    width: 25ch;
    position: relative;
    border-radius: 5px;
    input {
      @include searchbar;
    }

    .save-btn {
      display: block;
      position: absolute;
      right: 5%;
      bottom: 5%;
      @include purple-box;
      color: black;
      border-radius: 5px;
      padding: 0.5em;
    }

    .close-btn {
      position: absolute;
      bottom: 5%;
      right: 25%;
      @include purple-box;
      border-radius: 5px;
      padding: 0.5em;
      color: black;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}

.new-list-tab {
  padding: 1rem;
}
.create-list-modal-main {
  display: flex;
  flex-direction: column;
  input {
    @include searchbar;
    width: 100%;
    margin: 1em 0em 1em 0em;
  }
}

// Animations
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size: 2rem;
  }
}


@media screen and (max-width: 60em) {
  html {
    padding-bottom: 50rem;
  }
}
@media screen and (min-width: 60em) and (max-width: 100em) {
  html {
    padding-bottom: 35rem;
  }
}
