// Fonts
@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import './styles/Mixin.scss';

// Universal Settings 
* {
    margin: 0;
    padding: 0;
    font-family:'Asap', sans-serif;
    
} 

html {
    position: relative;
    min-height: 100%;
    max-height: auto;
    padding-bottom: calc(15vw + 5%) ;
}
// 
// Header.js 
.logo-name {
        font-family: 'Archivo Black', sans-serif;
        letter-spacing: 5px;
        font-size: 2rem;
        border-radius: 5px;
        padding: 0.2em;
        box-shadow: $basic-boxshadow;
        text-decoration: none;
        color: white;
        background: black;
        transition: 0.1s ease-in;
        &:hover {
            color: $base-purple;
        }
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em;
    .links-cont {
    list-style-type: none;
        li {
            display: inline-block;
            margin: 1em;
            font-weight: 500;
            font-size: 1.2rem;
            
        }
        
       
        
    }   
    .link {
        text-decoration: none;
        color: black;
            &:hover {
                color: $base-purple;
            }
    }
    

    input {
        @include searchbar;
        background: url(img/search-thin.svg) no-repeat scroll 7px 10px $base-purple;
        border: none;
        padding-left: 30px;
        border: black 2px solid;
        &::placeholder {
            color: black;
        }

        &:focus {
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
        }
    }
    

    .user-sl {
        position: relative;
        display: flex;
        .user-pfp {
            margin-left: 1em;
            width: 35px;
            margin-top: 2.5px;
            border-radius: 5px;
            height: 35px;
        }
        .user-option-lists {
            position: absolute;
            list-style-type: none;
            right: 0;
            border-radius: 5px;
            z-index: 2;
            margin-top: 3rem;
            display: flex;
            flex-direction: column;
            gap: 1em;
            border: 2px solid black;
            background-color: $base-purple;
            box-shadow: $basic-boxshadow;
            li {
                text-align: center;
                padding: 0em 1em 0em 1em;
                a {
                    text-decoration: none;
                    color: black;
                }
            }

            li:last-child {
                border-top: 2px solid black;
                padding: 0.5em;
                cursor: pointer;
                transition: 0.3s ease-in;
                &:hover {
                    background-color: black;
                    color: white;
                }
            }

            li:first-child {
                padding-top: 1em;
            }
        }
        .login-btn {
            @include searchbar;
            margin-left: 1em;
            text-decoration: none;
            color: white;
            background-color: black;
            border: none;
            width: fit-content;
            height: fit-content;
            transition: 0.2s ease-in;
            &:hover {
                transform: translate(-5px, -5px);
                box-shadow: 5px 5px 0 -3px white, 5px 5px $base-purple,
            }
        }
    }
}





// 
// Login.js 
.user-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem 4rem 1rem;
    div {
        label {
            display: block;
            @include section-title;
            margin-bottom: 0.8em;
            &::after{
                @include purple-underline;
                width: 10%;
            }
        }

        input {
            padding: 1em;
            width: 35ch;
            border: 3px solid black;
            border-radius: 3px;
        }
    }
    .submit-btn {
        @include searchbar;
        text-align: center;
        color: white;
        background-color: $base-purple;
        width: 40ch;
        margin-top: 1em;
        margin-bottom: 1em;
        span {
            font-size: 1rem;
        }
        &:hover {
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }
    }
    .sign-up-sect {
        border-bottom: 1px solid gray;
        width: 35ch;
        text-align: center;
        div {
            margin-bottom: 1em;
            font-size: 0.8rem;
        }
    }
    .demo-account {
        small {
            margin-top: 1em;
        }
        button {
            @include searchbar;
            width: 20ch;
            padding: 0.5em;
            margin: 0.7em;
            display: inline-block;
            background: black;
            color: white;
            transition: 0.2s ease-in;
            cursor: pointer;
            &:hover {
                transform: translate(-5px, -5px);
                box-shadow: 5px 5px 0 -3px white, 5px 5px $base-purple,
            }
        }
    }
}





// 
// Picture.js
.picture-cont {
    @include flex-box()
    
}

.indv-pic-cont {
        position: relative;
            img {
                border-radius: 5px;
                box-shadow: $basic-boxshadow; 
                vertical-align: bottom;
                height: 312px;
                max-width: 100%;
                object-fit: cover;
            }
            .img-overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.6);
                top: 0;
                z-index: 1;
                opacity: 0;
                border-radius: 5px;
            }
            p {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            text-align: center;
            opacity: 0;
            font-weight: 500;
            transition: 0.5s ease;
            text-overflow: ellipsis;
            }
            &:hover {
                p, .img-overlay {
                    opacity: 1;
                    
                }
            }
       }


// 
// Search.js 
.search-cont {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    place-items: center;
    justify-content: center;
    column-gap: 0em;
    gap: 1em;
}


// 
// GameLog.js
.modal-tab {
    padding: 1rem;
    position: relative;
    border-radius: 5px;
    border: none;
    .mini-title {
        font-size: 1.5rem;
    }
    .fav-btn {
            padding: 0.5em 2em 0.5em 2em;
            background: #D83E4F;
            color: #f3f3f3;
            border-radius: 0.5em;
            border: 2px solid black;
            display: inline-block;
        }
    form {
        display: flex;
        gap: 2em;
        button {
            display: block;
            padding: 0.5em;
        }
        select {
            display: block;
            padding: 0.5em 2em 0.5em 5px;
            margin-bottom: 1em;
            border-radius: 0.5em;
        }

        img {
            margin-top: 1em;
            border-radius: 0.5em;
            box-shadow: $basic-boxshadow;
        }
        div {
            margin-top: 1em;
        }
    }
    .close-btn {
            position: absolute;
            top: 5px;
            right: 5px;
            background: none;
            border: none;
        }
    .two-btn {
        margin-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// 
// Warning.js 
.empty-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    height: 100vh;
    background: url(img/mhk_21.jpg);

    @include error-page;
    button {
        @include searchbar;
        background-color: $base-purple;
        &:hover {
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
        }
        a {
            text-decoration: none;
            color: black;
        }
    }
}

.unauthorized {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    @include error-page;
}

// 
// Contact.js 
.contact-sect {
    display: flex;
    justify-content: center;
    padding: 1em;
    gap: 5rem;
    .contact-form {
        padding: 1em;
        label {
            margin-top: 1em;
            @include section-title;
            &:after {
                @include purple-underline;
                width: 5%;
            }
        }

        input, textarea {
            @include searchbar;
        }


        .basic-info {
            display: inline-block;
            input {
                display: block;
                margin: 1em 1em 0em 0em;
            }
            label:after {
                width: 15%;
            }
        }
        
        button {
            @include searchbar;
            text-align: center;
            color: white;
            background-color: $base-purple;
            width: 20ch;
            margin-top: 1em;
            display: block;
            &:hover {
                box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
                cursor: pointer;
            }
        }

        textarea {
            width: auto;
        }

        .subject {
            width: 56ch;
        }
    }

    .contact-info {
        padding: 1em;
        line-height: 1.5;
        h1 {
            font-size: 2rem;
            font-family: 'Archivo Black', sans-serif;
        }
        h2 {
            font-size: 1rem;
            margin-bottom: 1em;
        }
    }
}

.create-list-modal {
    z-index: 5;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    h1 {
        @include section-title;
        
        &::after {
            @include purple-underline;
            width: 10%;
        }
    }
    background-color: rgba(0, 0, 0, 0.5);
    .create-list-modal-main {
        margin-top: 20vh;
        background-color: white;
        padding: 2rem;
        height: 20ch;
        width: 25ch;
        position: relative;
        border-radius: 5px;
        input {
            @include searchbar;
        }
        
        .save-btn {
            display: block;
            position: absolute;
            right: 5%;
            bottom: 5%;
            @include purple-box;
            color: black;
            border-radius: 5px;
            padding: 0.5em;
        }

        .close-btn {
            position: absolute;
            bottom: 5%;
            right: 25%;
            @include purple-box;
            border-radius: 5px;
            padding: 0.5em;
            color: black;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

// Animations
@keyframes mover {
            0% { transform: translateY(0); }
            100% { transform: translateY(-20px); }
        }